@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@0,300;1,700;1,900&display=swap');


:root {
  --primary-white: #fff;
}

body {
  font-family: "Roboto Condensed" sans-serif;
}

.logo {
  width: 4.25rem;
}

nav a .nav-link {
  font-weight: 500;
  letter-spacing: 0.0375px;
  cursor: pointer;

}

nav ul li {
  text-transform: uppercase;
}

/** !important is overwrite the bootstrap rules */

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 4.356rem !important;
}